<div class="bs-footer-container">
  <div class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s bs-footer-content" uk-grid>
    <div class="bs-footer-section">
      <h3 class="bs-footer-heading">Business Hours</h3>
      <ul>
        <li>Mon-Fri, 8am to 8pm</li>
        <li>Sat, 9am to 4pm</li>
        <li>Sun, Closed</li>
      </ul>
    </div>
    <div class="bs-footer-section">
      <h3 class="bs-footer-heading">Contact Info</h3>
      <ul>
        <li>Butter & Saffron Baking Co.</li>
        <li><a href="tel:+14692613854">(469) 261-3854</a></li>
        <li><a href="mailto:tanvi@butterandsaffron.com">tanvi@butterandsaffron.com</a></li>
      </ul>
    </div>
  </div>
  <div class="bs-footer-copyright">
    <p>
      © 2026 Butter & Saffron | Site Design by <a class="bs-footer-link" href="https://www.ambitiousnerds.com" target="_blank" rel="noopener noreferrer">ambitiousNerds</a>
    </p>
  </div>
</div>