<div class="bs-footer-container">
  <div class="uk-grid-small uk-child-width-1-2@s bs-footer-content" uk-grid>
    <div>
      <h4>Work Times</h4>
      <ul>
        <li>Mon-Fri, 8am to 8pm</li>
        <li>Sat, 9am to 4pm</li>
        <li>Sun, Closed</li>
      </ul>
    </div>
    <div>
      <h4>Contact Info</h4>
      <ul>
        <li>(469) 261-3854</li>
        <li>Butter & Saffron Baking Co.</li>
        <li><a href="mailto:butterandsaffronbakingco@gmail.com">butterandsaffronbakingco@gmail.com</a></li>
      </ul>
    </div>
  </div>
  <div class="uk-grid-small uk-text-center" uk-grid>
    <div class="uk-width-expand"></div>
    <div class="uk-text-center">
      <p>&nbsp;<br />
        © 2021 Butter & Saffron | Site Design by <a class="hidden-link" href="https://www.ambitiousnerds.com">ambitiousNerds</a>
      </p>
    </div>
    <div class="uk-width-expand"></div>
  </div>
</div>