<div class="<%= header %>" role="banner">
  <div class="bs-pageTitle">
    <h2 style="color: white"><%= title %></h2>
    <% if (price && price !== '') { %>
      <div class="bs-price"><%= price %></div>
    <% } %>
  </div>
</div>
