<div class="bs-home-hero" role="banner">
  <div class="bs-homepageTitle">
    <h2 style="color: white">Namaste,</h2>
    <h2 style="color: white">I am Tanvi...</h2>
    <p style="color: white">Let me introduce you to some Indian inspired sweets and my favorite desserts, for a Dallas dessert experience parallel to none!</p>
  </div>
</div>
