<div class="bs-topnav">
  <!-- Navbar Section -->
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
      <div class="uk-navbar-left">
        <a href="" class="uk-navbar-item uk-logo"></a>
        <ul class="uk-navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/minidesserts">Mini Desserts</a></li>
          <li><a href="/shortbreads">Shortbreads</a></li>
        </ul>
      </div>
      <a class="uk-navbar-item uk-logo" href="/"><img src="/images/bs-logo-white.png" width="100" height="100"></a>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li><a href="/boxes">Boxes</a></li>
          <li><a href="/sugarfree">Sugar Free</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>