<!-- Navbar Section -->
<div class="bs-topnav">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo uk-hidden@m" href="/"><img src="/images/bs-logo-white.png" width="100" height="100"></a>
      <ul class="uk-navbar-nav uk-visible@m">
        <li><a href="/">Home</a></li>
        <li><a href="/minidesserts">Mini Desserts</a></li>
        <li><a href="/desidesserts">Desi Fusion Desserts</a></li>
        <!-- <li><a href="/boxes">Dessert Boxes</a></li> -->
        <li><a href="/shortbreads">Shortbreads</a></li>
      </ul>
    </div>
    <div class="uk-navbar-center uk-visible@m">
      <a class="uk-navbar-item uk-logo" href="/"><img src="/images/bs-logo-white.png" width="100" height="100"></a>
    </div>
    <div class="uk-navbar-right">
      <a href="#" class="uk-navbar-toggle uk-hidden@m" style = "color: #16B0A4" uk-navbar-toggle-icon uk-toggle="target: #mobilenav"></a>
      <ul class="uk-navbar-nav uk-visible@m">
        <li><a href="/tables">Dessert Tables</a></li>
        <!-- <li><a href="/sugarfree">Sugar Free Options</a></li> -->
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Mobile Navigation -->
<div id="mobilenav" uk-offcanvas="flip: false" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-text-center">
      <li><a href="/">Home</a></li>
      <li><a href="/minidesserts">Mini Desserts</a></li>
      <!-- <li><a href="/boxes">Dessert Boxes</a></li> -->
      <li><a href="/tables">Dessert Tables</a></li>
      <li><a href="/shortbreads">Shortbreads</a></li>
      <li><a href="/sugarfree">Sugar Free</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</div>
