<!-- Navbar Section -->
<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">
      <div class="uk-navbar-left">
          <a href="" class="uk-navbar-item uk-logo"></a>
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/">Home</a></li>
              <li><a href="/minidesserts">Mini Desserts</a></li>
              <li><a href="/shortbreads">Shortbreads</a></li>
              <li><a href="/brunch">Brunch</a></li>
          </ul>
      </div>
      <a class="uk-navbar-item uk-logo" href="./index.html"><img src="assets/images/TOH-180.png" width="80" height="80"></a>
      <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
              <li><a href="/sugarfree">Sugar Free</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/contact">Contact Us</a></li>
          </ul>
      </div>
  </div>
</nav>