<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'About Us', price: '', header: 'bs-about-header' }); %>
    <div class="bs-page-content">
      <h3>Butter and Saffron</h3>
      <div class="bs-about-content">
        <div class="bs-image-box">
          <img src="/images/TanviHeadshot.jpg" data-src="/images/TanviHeadshot.jpg" alt="Tanvi Aditya Thompson" uk-img>
        </div>
        <p>
          Butter and Saffron is me honoring my Indian heritage, my American upbringing, as well as all the wonderful chefs I have had the honor and privilege of working with.
        </p>
        <p>
          Butter & Saffron is a celebration of heritage, craftsmanship, and the way of food tends to bring us together. Rooted in Indian flavors and shaped by an American upbringing, 
          our brand was created to honor tradition while showcasing traditional flavors in a refined and modern way.
        </p> 
        <p>
          Some of my earliest memories were formed in the kitchen — watching my grandmother, Ma, prepare nimki and khajoor, stealing spoonfuls of gajar ka halwa and rabri, and cooling 
          off with kulfi beneath mango trees in the heat of Indian summers. Our festivals and holiday celebrations were marked by food and community: sharing seviyan with our neighbors 
          during Eid, and celebrating Diwali with besan ke ladoos and rasmalai alongside family. These moments taught me that in Indian culture, food was more than just nourishment — 
          it was a love language.
        </p>
        <p>
          After immigrating to Texas, I really missed the familiar flavors and foods I grew up with, but this also meant finding new favorites such as tres leches cakes and cosmic brownies. 
          Even at a young age, being in the kitchen was always my calm from the storm, a place where felt the like I truly belonged. After graduating high school, I moved to Miami to pursue 
          a degree in Int'l Baking and Pastry at Johnson & Wales University. While in Florida, I was fortunate enough to work with great companies such as Walt Disney World, Starbucks, and 
          The Breakers Palm Beach.
        </p>
        <p>
          Since returning to Texas, I have had the privilege of working for some great chefs and held esteemed positions such as pastry chef at Dallas Fish Market, catering baker for UT 
          Dallas, assistant manager for Paciugo, lead baker at Tart-a-licious, pastry supervisor at Luis' Prime, and currently as the sous pastry chef at Cypress Club in Dallas. Along the 
          way, I competed in culinary competitions, earning multiple awards — including <strong>Shortbread Champion at the Sherman Celtic Festival</strong>, a title I proudly held for two consecutive years.
        </p>
        <p>
          Butter & Saffron brings together this training, experience, and cultural inspiration to curate bespoke mini desserts and dessert tables for weddings, celebrations, and corporate 
          events. Every offering is crafted in-house using premium ingredients, with thoughtful attention to flavor, presentation, and storytelling.
        </p>
        <p>My goal is simple: to create memorable dessert experiences that honor Indian flavors, feel elevated and intentional, and invite everyone to the table.</p>
        <p><strong>With Gratitude,</strong></p>
        <p><strong>Tanvi Aditya Thompson</strong><br/>Founder & Pastry Chef<br/>Butter & Saffron</p>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
