<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'About Us', price: '', header: 'bs-about-header' }); %>
    <div class="bs-page-content">
      <h3>Butter and Saffron Baking Co</h3>
      <div class="bs-about-content">
        <div class="bs-image-box">
          <img data-src="images/TanviHeadshot.jpg" alt="" uk-img>
        </div>
        <p>
          Butter and Saffron is me honoring my Indian heritage, my American upbringing, as well as all the wonderful chefs I have had the honor and privilege of working with.
        </p>
        <p>
          One of my earliest memories about growing up in India was watching my grandmother, Ma, in the kitchen making <span class="bs-tooltip" uk-tooltip="title: Salted Fried Crackers">nimki</span> and khajoor, eagerly waiting for my share. I loved spending the hot summer days enjoying a kulfi underneath our mango trees, or
          sneaking into the kitchen to steal a taste of Mom&apos;s <span class="bs-tooltip" uk-tooltip="title: Carrot Pudding">gajar ka halwa</span> and rabri. Holidays were something even more special: celebrating Eid with our next door
          neighbors, Rani Aunty and Ibrahim Uncle over various <span class="bs-tooltip" uk-tooltip="title: Vermicelli Pudding">seviyan</span>, and <span class="bs-tooltip" uk-tooltip="title: Festival of Lights">Diwali</span> with my family over <span class="bs-tooltip" uk-tooltip="title: An Indian dessert made from gram flour, powdered sugar and clarified butter (ghee).">besan ke ladoos</span> and <span class="bs-tooltip" uk-tooltip="title: A Bengalese dessert made from juice and milk.">rasmalai</span>.
        </p> 
        <p>
          It was these early memories of family and friends together over food that instilled my passion for enjoying food
          within me. When my family emigrated here to Texas in 1999, I realized that world was indeed going to be my oyster when
          it came to desserts. Being Indian, my family&apos;s way of showing love is through food, and I knew I couldn&apos;t wait to introduce my love of Indian desserts with others.  I have always loved how food has a way of bringing people together, we may come from different backgrounds, speak different languages, but we can put our differences aside and enjoy a meal together.
        </p>
        <p>So, instead of going the typical route of medicine or engineering like most Indians are expected to, I packed my bags and moved to Miami to pursue a degree in Int&apos;l Baking and Pastry at Johnson & Wales University. While in Florida, I was fortunate enough to work with great companies such as Walt Disney World, Starbucks, and The Breakers Palm Beach. As much as I loved having the ocean in my backyard, some of the best Cuban coffee I ever had, I knew Texas would always be home and moved back to Plano.</p>
        <p>
          Since returning to Texas, I have worked as the pastry chef for The Dallas Fish Market, catering baker for UT Dallas,
          a Gelato Productionist for Paciugo, baker at Tart-a-licious, a sous chef at Edith&apos;s, and currently in the pasty
          department at Luis' Prime. I also began to compete in culinary competitions, and even won! My first competion was at Collin College with my Italian Wedding Cupcakes where I took home 2nd place. In 2018, my Lady Grey shortbread won me the title of Shortbread Champion 2018 at the Sherman Celtic Festival, and I retained my Champion title in 2019 with my Lemon Lavender!
        </p>
        <p>
          All of that is to say that my goal is to offer some of the best desserts to our Desi community made with only the highest quality ingredients, and make Indian desserts more approachable to anyone unfamiliar with them. I hope you are as excited as I am to take your pallet on a culinary journey of your favorite desserts with an Indian influence.</p>
        <p>Namaste,</p>
        <p>
          Tanvi Aditya Thompson<br/>
          Pastry Chef<br/>
          Butter and Saffron Baking Company
        </p>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>
