<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <div class="bs-page-content">
      <p>Put stuff here</p>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>