<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'Boxes', price: 'Prices Vary', header: 'bs-boxes-header' }); %>
    <div class="bs-page-content">
      <div class="uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Tea Box</h4>
            </div>
            <div class="bs-tea-card-details">
              <p>Everything you need to enjoy an afternoon tea or espresso break together.</p>
              <hr>
              <p>$45 for two<br/>$23/ea extra person</p>
            </div>
            <div class="bs-tea-card-details" hidden>
              <p>Includes:</p>
              <ul>
                <li>Scones w/ Ham Orchards jam and Devonshire cream</li>
                <li>Three Savory Sandwich Bites<br/>(Crème fraiche and Cucumber, Pimento cheese, Caprese)</li>
                <li>Three Sweet Bites<br/>(Chef's choice of assorted macarons, Mini fruit tarts, Cream puffs, Mini chocolate caramel tart, chocolate dipped strawberries)</li>
              </ul>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text" uk-toggle="target: .bs-tea-card-details;">Details</a>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Brunch Box</h4>
            </div>
            <div class="bs-brunch-card-details">
              <p>Let us do the cooking so you can skip the crowds and enjoy a chef inspired brunch.</p>
              <hr>
              <p>$18/person</p>
            </div>
            <div class="bs-brunch-card-details" hidden>
              <p>Includes:</p>
              <ul>
                <li>Quiche<br/>(Four Cheese or Quiche Lorraine)</li>
                <li>Mini Croissants<br/>(Butter or Chocolate)</li>
                <li>Scone<br/>(Plain or Blueberry)</li>
                <li>Jam<br/>(Blackberry or Peach)</li>
                <li>Beverage<br/>(Orange Juice or Lemonade)</li>
              </ul>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text" uk-toggle="target: .bs-brunch-card-details;">Details</a>
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Dessert Box</h4>
            </div>
            <div class="bs-dessert-card-details">
              <p>A perfect accompaniment for enjoying a date night in or a girl’s night!</p>
              <hr>
              <p>$24/6 desserts<br/>$3/ea additional dessert</p>
            </div>
            <div class="bs-dessert-card-details" hidden>
              <p>Includes:</p>
              <ul>
                <li>Chocolate dipped strawberries</li>
                <li>Macarons<br/> (Choice of Lavender, Vanilla, Salted Caramel, or Mango)</li>
                <li>Mini Tarts<br/> (Choice of Lemon Meringue, Early Grey, Fruit, or Chocolate Caramel)</li>
                <li>Brownie bites</li>
                <li>Mini cream puffs</li>
              </ul>
            </div>
            <div class="uk-card-footer">
              <a href="#" class="uk-button uk-button-text" uk-toggle="target: .bs-dessert-card-details">Details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="bs-box-upgrades">
        <h4>Upgrades</h4>
      </div>
      <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-flex-center " uk-grid>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Shortbread</h4>
            </div>
            <p>Your choice of:</p>
            <ul>
              <li>Lady Grey</li>
              <li>Lemon Lavender</li>
              <li>Saffron and Dark Chocolate</li>
              <li>Pistachio Rose</li>
              <li>Key Lime Coconut</li>
              <li>Butter</li>
            </ul>
            <div class="uk-card-badge uk-label">
              $15
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Fruit Breads</h4>
            </div>
            <p>Your choice of:</p>
            <ul>
              <li>Lemon Loaf</li>
              <li>Espresso Loaf</li>
              <li>Chai Spice</li>
              <li>Raspberry Swirl</li>
              <li>Banana Coconut</li>
              <li>Pumpkin</li>
            </ul>
            <div class="uk-card-badge uk-label">
              $12
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Wine (Full)</h4>
            </div>
            <ul class="bs-no-list-marker">
              <li>Apothic Red</li>
              <li>Procecco</li>
            </ul>
            <div class="uk-card-badge uk-label">
              $20
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Wine (Split)</h4>
            </div>
            <ul class="bs-no-list-marker">
              <li>Procecco</li>
            </ul>
            <div class="uk-card-badge uk-label">
              $12
            </div>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card-header">
              <h4 class="uk-card-title">Fruit & Cream</h4>
            </div>
            <p>Your choice of:</p>
            <ul>
              <li>Strawberries</li>
              <li>Raspberries</li>
              <li>Mixed Berries</li>
            </ul>
            <div class="uk-card-badge uk-label">
              $6
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>