<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <p>Put stuff here</p>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>