<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <h3>Frequently Asked Questions</h3>
    <h6 onclick="accordionControl('faq-1')" class="bs-faq">When should I place my order?</h6>
    <p id="faq-1" class="hide-me">We ask that all orders be placed at least 5 days in advance. We will do our best to accommodate any last minute orders, but can't promise anything.</p>
    <h6 onclick="accordionControl('faq-2')" class="bs-faq">Can you do a same-day order?</h6>
    <p id="faq-2" class="hide-me">FAQ 2 Goes Here</p>
    <h6 onclick="accordionControl('faq-3')" class="bs-faq">Can I place an order over email?</h6>
    <p id="faq-3" class="hide-me">FAQ 3 Goes Here</p>
    <h6 onclick="accordionControl('faq-4')" class="bs-faq">How do I place my order?</h6>
    <p id="faq-4" class="hide-me">FAQ 4 Goes Here</p>
    <h6 onclick="accordionControl('faq-5')" class="bs-faq">Do you offer delivery?</h6>
    <p id="faq-5" class="hide-me">FAQ 5 Goes Here</p>
    <h6 onclick="accordionControl('faq-6')" class="bs-faq">Do you use any preservatives or artificial coloring in your desserts?</h6>
    <p id="faq-6" class="hide-me">FAQ 6 Goes Here</p>
    <h6 onclick="accordionControl('faq-7')" class="bs-faq">Do you have anything that is egg free?</h6>
    <p id="faq-7" class="hide-me">FAQ 7 Goes Here</p>
    <h6 onclick="accordionControl('faq-8')" class="bs-faq">Do you have gluten free options?</h6>
    <p id="faq-8" class="hide-me">FAQ 8 Goes Here</p>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

<script>
  function accordionControl(id) {
    let x = document.getElementById(id);
    if (x.className.indexOf("show-me") == -1) {
      x.className += " show-me";
    } else {
      x.className = x.className.replace(" show-me", "");
    }
  }
</script>
