<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <div class="bs-page-content">
      <h3>Frequently Asked Questions</h3>
      <h6 onclick="accordionControl('faq-1')" class="bs-faq">When should I place my order?</h6>
      <p id="faq-1" class="hide-me">We ask that all orders be placed at least 5 days in advance. We will do our best to accommodate any last minute orders, but can't promise anything.</p>
      <h6 onclick="accordionControl('faq-2')" class="bs-faq">Can you do a same-day order?</h6>
      <p id="faq-2" class="hide-me">We prefer that you give us at least a 5 day advance notice since everything is made to order, but if it is a small order, we will do our best to accommodate you.</p>
      <h6 onclick="accordionControl('faq-3')" class="bs-faq">Can I place an order over email?</h6>
      <p id="faq-3" class="hide-me">Absolutely! An order isn’t confirmed till you receive a conformation from us.</p>
      <h6 onclick="accordionControl('faq-4')" class="bs-faq">How do I place my order?</h6>
      <p id="faq-4" class="hide-me">To place an order you may either fill out the contact form or give us a call and we will proceed from there. If you have a specific dessert or design in mind, you may always email these images and questions to us at <a href="mailto:tanvi@butterandsaffron.com">tanvi@butterandsaffron.com</a>.</p>
      <h6 onclick="accordionControl('faq-5')" class="bs-faq">Do you offer delivery?</h6>
      <p id="faq-5" class="hide-me">Absolutely! Free contactless delivery available within 15 miles of 75075, a small delivery fee will be added if outside the free delivery area. Delivery driver will always have masks and gloves on for everyone’s safety. Contactless pickup is always available upon request.</p>
      <h6 onclick="accordionControl('faq-6')" class="bs-faq">Do you use any preservatives or artificial coloring in your desserts?</h6>
      <p id="faq-6" class="hide-me">All our desserts and baked goods are made to order, from scratch with free range eggs and butter, we do not use any preservatives, artificial colors or shortenings.</p>
      <h6 onclick="accordionControl('faq-7')" class="bs-faq">Do you have anything that is egg free?</h6>
      <p id="faq-7" class="hide-me">Almost all of the mini desserts can be made without using eggs, but they will contain milk and butter.</p>
      <h6 onclick="accordionControl('faq-8')" class="bs-faq">Do you have gluten free options?</h6>
      <p id="faq-8" class="hide-me">Absolutely. Our Peanut Butter Muffins, Chocolate PB bars, and Pumpkin Mousse are all keto friendly and gluten free. Please be advised that everything is made in a facility that uses eggs, gluten, dairy, and nuts.</p>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

<script>
  function accordionControl(id) {
    let x = document.getElementById(id);
    if (x.className.indexOf("show-me") == -1) {
      x.className += " show-me";
    } else {
      x.className = x.className.replace(" show-me", "");
    }
  }
</script>
