<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/header', { title: 'FAQs', price: '', header: 'bs-faq-header' }); %>
    <div class="bs-page-content">
      <h3>Frequently Asked Questions</h3>
      <div class="bs-faq-section">
        <h6 onclick="accordionControl('faq-1')" class="bs-faq">When should I place my order?</h6>
        <p id="faq-1" class="hide-me">We prefer you order at least a week prior to your event. Sometimes we are able to accommodate last minute orders but a rush fee applies.</p>
        <h6 onclick="accordionControl('faq-2')" class="bs-faq">Can you do a same-day order?</h6>
        <p id="faq-2" class="hide-me">We prefer that you give us at least a 5 day advance notice since everything is made to order, but if it is a small order, we will do our best to accommodate you.</p>
        <h6 onclick="accordionControl('faq-3')" class="bs-faq">Can I place an order over email?</h6>
        <p id="faq-3" class="hide-me">Absolutely! An order isn’t confirmed till you receive a conformation from us.</p>
        <h6 onclick="accordionControl('faq-4')" class="bs-faq">How do I place my order?</h6>
        <p id="faq-4" class="hide-me">To place an order you may either email us or give us a call or text. If you have a specific dessert that’s not listed, we would love to come up with custom dessert(s) for you!</p>
        <h6 onclick="accordionControl('faq-6')" class="bs-faq">Do you offer delivery?</h6>
        <p id="faq-6" class="hide-me">Absolutely! Free contactless delivery available within 15 miles of 75075, a small delivery fee will be added if outside the free delivery area. Delivery driver will always have masks and gloves on for everyone’s safety. Contactless pickup is always available upon request.</p>
        <h6 onclick="accordionControl('faq-7')" class="bs-faq">Do you offer full setup or just delivery?</h6>
        <p id="faq-7" class="hide-me">We offer pick up from our Plano kitchen, delivery to the client’s venue or delivery and set up. Set up includes sequence tablecloth, dessert stands as well as signage.</p>
        <h6 onclick="accordionControl('faq-8')" class="bs-faq">Do you have anything that is egg free?</h6>
        <p id="faq-8" class="hide-me">Almost all of mini desserts can be made without using eggs, including our tiramisu!</p>
        <h6 onclick="accordionControl('faq-9')" class="bs-faq">Do you have gluten free options?</h6>
        <p id="faq-9" class="hide-me">Absolutely. Our Peanut Butter Muffins, Chocolate PB bars, and Pumpkin Mousse are all keto friendly and gluten free. Please be advised that everything is made in a facility that uses eggs, gluten, dairy, and nuts.</p>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

<script>
  function accordionControl(id) {
    let x = document.getElementById(id);
    if (x.className.indexOf("show-me") == -1) {
      x.className += " show-me";
    } else {
      x.className = x.className.replace(" show-me", "");
    }
  }
</script>
