<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main>
    <h3>Frequently Asked Questions</h3>
    <h6>When should I place my order?</h6>
    <p>We ask that all orders be placed at least 5 days in advance. We will do our best to accommodate any last minute orders, but can't promise anything.</p>
    <h6>Can you do a same-day order?</h6>
    <h6>Can I place an order over email?</h6>
    <h6>How do I place my order?</h6>
    <h6>Do you offer delivery?</h6>
    <h6>Do you use any preservatives or artificial coloring in your desserts?</h6>
    <h6>Do you have anything that is egg free?</h6>
    <h6>Do you have gluten free options?</h6>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

