<head>
  <%- include('../partials/head'); %>
</head>

<body> 
  <%- include('../partials/topnav'); %>
  <main class="bs-content">
    <%- include('../partials/homehero'); %>
    <div class="bs-page-content">
      <div class="bs-home-content">
        <h4>Welcome to our bakery</h4>
        <p>Our goal is simple, to offer some of the best desserts to our community, while never compromising on the quality of the ingredients! We love what we do, and it shows.</p>
        <a href="/about"><button class="uk-button uk-button-primary">About Us</button></a>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

<script>

</script>